node_modules/
.env
build/
data/
src/tests/example-tree/
src/tests/example-leafs/
smtLevelDb-leafs/
smtLevelDb-tree/
revokedb-tree/
testrovoke-tree/
testsmt-leafs/
testsmt-tree/
circuits/claim/*
circuits/unrevoke/*
circuits/revoke/*
circuits/output/*
circuits/prepare_proof/*
rapidsnark/*
MyLogFile.log
